img { 
    height: 700px;
  }
  .description {
    font-size: 50px
  }

  h1, h2, p, li {
       font-family: smokum; 
  }
  h1{
    font-size: 80px;
  }
  body {
    background-image: url("ivan-gromov-Y3vPEuNlf7w-unsplash.jpg");
    background-color: #cccccc;
   }